{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %} - Сайт портфолио команды Imagination Engine</title>

    {% block head %}{% endblock %}
</head>
<body>
    "Это с базовой страницы"
    <a href="{% url 'main:home' %}">Главная страница</a>
    {% block content %}{% endblock %}
    
    <a href="{% url 'main:member' page='gazik' %}">Страница Газика</a><br>
    <a href="{% url 'main:member' page='emil' %}">Страница Эмиля</a><br>
    <a href="{% url 'main:member' page='ilya' %}">Страница Ильи</a><br>
    <a href="{% url 'main:member' page='vlad' %}">Страница Влада</a><br>
    <a href="{% url 'main:about' %}">О нас</a>
    <span>test-gazik</span>
</body>
</html>